<h1>Welcome</h1>

<h2>
    {{ foo }}
</h2>


<ul>
    <li>Email: {{ user['email'] }}
    </li>
    <li>First name: {{ user['first_name'] }}
    </li>
    <li>Last Name: {{ user['last_name'] }}
    </li>
    <li>Active: {{ user['is_active'] }}
    </li>
    <li>Created at: {{ user['created_at'] }}
    </li>
</ul>